# sane defaults
fullnameOverride: ""
replicaCount: 1

image:
  repository: nginx
  tag: "1.21.6"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources: {}

config:
  index.html: |
    <html><body><h1>Welcome</h1></body></html>
