apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nginx-app.fullname" . }}
  labels:
    app: {{ include "nginx-app.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "nginx-app.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "nginx-app.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ include "nginx-app.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: config
          configMap:
            name: {{ include "nginx-app.fullname" . }}-config
